* {
    padding: 0;
    margin: 0;

}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.form_title {
    text-align: center;
}

.form-container {
    border: 2px solid white;
    padding: 40px;
    border-radius: 20px;
    margin-top: 50px;
    width: 25%;
}

h1 {
    font-size: 2.2em;
}

label {
    margin-bottom: 5px;
    text-align: left;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 95%;
}

button {
    padding: 10px;
    background-color: #ededed;
    color: rgb(45, 45, 45);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    text-align: center;
    margin: 8px 0px;
}

button:hover {
    background-color: #dbd9d9;
}

.g_btn {
    text-align: center;
    border-radius: 20px;
}